*{
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
    height: 100%;
    background: linear-gradient(to right, #ae83ef, #6d5aea);
    text-align: center;
}

table{
    width: 65%;
    margin: auto;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td{
    width: 50%;
    padding: 50px 50px;
}

#text{
    background-color: #02b4d2;
    color: white;
    border-radius: 5px 0px 0px 5px;
    padding-top: 100px;
    vertical-align: top;
}

#form{
    background-color: white;
    padding: 50px 70px;
    border-radius: 0px 5px 5px 0px;
}

h1{
    margin-bottom: 20px;
    font-size: 36px;
}

#firstp{
    margin: 30px 0 30px 0;
}

p{
    font-size: 13px;
}

input,textarea{
    width: 100%;
    padding: 15px;
    background-color: #eee;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    display: block;
}

textarea{
    height: 60px;
    resize: none;
}

span{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
}

button{
    padding: 10px 35px;
    border-radius: 20px;
    border: none;
    background-color: #02b4d2;
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}